# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment variables
.env

# Ignore system files
.DS_Store
Thumbs.db

# VSCode settings (optional, if you don't want to track editor-specific settings)
.vscode/


# Ignore temporary or backup files
*.log
*.tmp
*.bak
*.swp

#Ignore test.py its for testing purposes and for experimental ui changes
test.py 